<script>
    function accionGuardia(accion, turno, profesor, id) {
        if(accion !== 'A' || (($('#nuevo_turno').val() !== "0") && ($('#nuevo_profesor').val() !== "0"))){
            $('#accion_guardia').val(accion);
            $('#turno_guardia').val(turno);
            $('#profesor_guardia').val(profesor);
            $('#id_guardia').val(id);
            $('#guardiasForm').submit();
        }
    }
</script>
<div class="modal fade show" id="cardGuardias-modal" tabindex="-1" role="dialog" aria-labelledby="cardGuardias-modal" style="display: none">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-white"
                 th:classappend="${guardia.tipo == 'Guardia' ? 'bg-danger' : (guardia.tipo == 'Recreo' ? 'bg-success' : (guardia.tipo == 'Libranza' ? 'bg-secondary' : 'theme-guardias'))}">
                <h5 class="modal-title mb-0">
                    <span th:text="${guardia.dia}"></span>
                    <span th:text="${guardia.hora}"></span>
                </h5>
            </div>
            <div class="modal-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>Turno</th>
                        <th>Profesor</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="align-middle">
                        <th th:text="${guardia.tipo}">
                        </th>
                        <td>
                            <select class="form-select" aria-label="select profesores" th:data-id="${guardia.id}"
                                    th:data-tipo="${guardia.tipo}"
                                    onchange="accionGuardia('M', this.dataset.tipo, this.value, this.dataset.id)">
                                <option th:each=" profe : ${profesores}" th:text="${profe.nombre}"
                                        th:value="${profe.id}"
                                        th:selected="${guardia.nombre == profe.id}"></option>
                            </select>
                        </td>
                        <td th:data-id="${guardia.id}" th:data-tipo="${guardia.tipo}" th:data-profesor="${guardia.nombre}"
                            onclick="accionGuardia('E', this.dataset.tipo, this.dataset.profesor, this.dataset.id)"
                            class="text-danger text-center"
                            data-toggle="tooltip" data-placement="top" title="Eliminar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                            </svg>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<form id="guardiasForm" action="/guardias/accion">
    <input type="hidden" id="accion_guardia" name="accion">
    <input type="hidden" id="turno_guardia" name="turno">
    <input type="hidden" id="profesor_guardia" name="profesor">
    <input type="hidden" id="id_guardia" name="id">
</form>
