<div class="row">
  <div class="col-auto">
      <a data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button" aria-controls="offcanvasMenu">
      <img src="/images/menu.png" alt="Menú" style="max-width: 30px">
      </a>
  </div>
  <div class="col-auto">
    <h5 class="card-title mb-1" th:each="item : ${menuItems}" th:if="${#strings.containsIgnoreCase(currentUrl, item)}"><b th:text="${item}"></b></h5>
  </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenu">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title mb-0">
      <a href="/menu" class="text-decoration-none d-inline-flex align-items-center gap-2">
        <span class="year-big">PlanAula</span>
        <!--<span class="year-big digit" th:text="${anio}"></span>-->
      </a>
    </h5>
    <!--<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>-->
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column gap-2">
      <li class="nav-item border-bottom py-2" th:each="item : ${menuItems}">
        <a th:data-url="'/' + ${item.toLowerCase()}"  onclick="location.href=this.dataset.url"
           class="nav-link d-flex align-items-center rounded px-3 py-2 max-w-100"
           href="#"
           th:classappend="${#strings.containsIgnoreCase(currentUrl, item)}
            ? 'theme-' + ${item} : ' text-dark'">
          <img th:src="'/images/menu/' + ${item.toLowerCase()} + '.png'" th:alt="${item}" style="max-width: 10%"/>
          <span class="ms-3"><strong th:text="${item}"></strong></span>
        </a>
      </li>
    </ul>
  </div>
</div>