<span data-bs-toggle="offcanvas" data-bs-target="#offCanvasMenu" aria-controls="offcanvasWithBackdrop">
  <img class="w-50" src="/images/casa.png" alt="menu">
</span>

<div class="offcanvas offcanvas-start" data-bs-scroll="false" data-bs-backdrop="true" tabindex="-1" id="offCanvasMenu" aria-labelledby="offCanvasMenu">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Plan Aula</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action.</p>
  </div>
</div>