<script>
    function accionEspacio(accion, aula, asignatura, id) {
        if(accion !== 'A' || (($('#nuevo_aula').val() !== "0") && ($('#nuevo_asignatura').val() !== "0"))){
            $('#accion_espacio').val(accion);
            $('#aula_espacio').val(aula);
            $('#asignatura_espacio').val(asignatura);
            $('#id_espacio').val(id);
            $('#espaciosForm').submit();
        }
    }
</script>
<div class="modal fade show" id="cardEspacios-modal" tabindex="-1" role="dialog" aria-labelledby="cardEspacios-modal" style="display: none">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
			<div class="modal-header theme-espacios text-white">
				<h5 class="modal-title mb-0">
					<span th:text="${espacio.dia}"></span>
					<span th:text="${espacio.hora}"></span>
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									
								</div>
			                       <div class="modal-body">
									<div th:unless="${espacio.aula1a != null or espacio.aula1b != null or 
									             espacio.aula2a != null or espacio.aula2b != null or 
									             espacio.aula3a != null or espacio.aula3b != null or 
									             espacio.aula4a != null or espacio.aula4b != null or 
									             espacio.aula1cc != null or espacio.aula1ss != null or 
									             espacio.labcc != null or espacio.labid != null or 
									             espacio.desdoblea != null or espacio.desdobleb != null or 
									             espacio.desdoblec != null or espacio.aenlace != null or 
									             espacio.bajopatio != null or espacio.bajoespejos != null}"
									                     class="alert alert-warning" role="alert">
									                    No hay espacios asignados
									                </div>

									                <table th:if="${espacio.aula1a != null or espacio.aula1b != null or 
													             espacio.aula2a != null or espacio.aula2b != null or 
													             espacio.aula3a != null or espacio.aula3b != null or 
													             espacio.aula4a != null or espacio.aula4b != null or 
													             espacio.aula1cc != null or espacio.aula1ss != null or 
													             espacio.labcc != null or espacio.labid != null or 
													             espacio.desdoblea != null or espacio.desdobleb != null or 
													             espacio.desdoblec != null or espacio.aenlace != null or 
													             espacio.bajopatio != null or espacio.bajoespejos != null}"
									                       class="table table-sm">
			                               <thead>
			                               <tr>
			                                   <th>Aula</th>
			                                   <th>Asignatura</th>
			                               </tr>
			                               </thead>
			                               <tbody>
												<tr th:if="${espacio.aula1a != null}">
													<td>
														<select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}"
											        	onchange="accionEspacio('M', 'aula1a', this.value, this.dataset.id)">
											        		<option value="0"></option>
											            	<option th:each=" aula : ${aulas}" th:text="${aula.nombre}"
											            	th:value="${aula.id}"
											            	th:selected="${'Aula 1A' == aula.nombre}"></option>
											         	</select>
											     	</td>
													<td>
														<select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}"
														onchange="accionEspacio('M', 'aula1a', this.value, this.dataset.id )">
															<option value="0"></option>
															<option th:each=" asignatura : ${asignaturas}" th:text="${asignatura.nombre}"
															th:value="${asignatura.id}"
															th:selected="${espacio.aula1a == asignatura.nombre}"></option>
														</select>
													</td>
												</tr>
												<tr th:if="${espacio.aula1b != null}">
																									<td>
																										<select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}"
																							        	onchange="accionEspacio('M', 'aula1B', this.value, this.dataset.id)">
																							        		<option value="0"></option>
																							            	<option th:each=" aula : ${aulas}" th:text="${aula.nombre}"
																							            	th:value="${aula.id}"
																							            	th:selected="${'Aula 1B' == aula.nombre}"></option>
																							         	</select>
																							     	</td>
																									<td>
																										<select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}"
																										onchange="accionEspacio('M', 'aula1B', this.value, this.dataset.id )">
																											<option value="0"></option>
																											<option th:each=" asignatura : ${asignaturas}" th:text="${asignatura.nombre}"
																											th:value="${asignatura.id}"
																											th:selected="${espacio.aula1b == asignatura.nombre}"></option>
																										</select>
																									</td>
																								</tr>
																								<tr th:if="${espacio.aula2a != null}">
																								    <td>
																								        <select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'aula2a', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="aula : ${aulas}" th:text="${aula.nombre}" th:value="${aula.id}" th:selected="${'Aula 2A' == aula.nombre}"></option>
																								        </select>
																								    </td>
																								    <td>
																								        <select class="form-select" aria-label="select asignaturas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'aula2a', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="asignatura : ${asignaturas}" th:text="${asignatura.nombre}" th:value="${asignatura.id}" th:selected="${espacio.aula2a == asignatura.nombre}"></option>
																								        </select>
																								    </td>
																								</tr>
																								<tr th:if="${espacio.aula2b != null}">
																								    <td>
																								        <select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'aula2b', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="aula : ${aulas}" th:text="${aula.nombre}" th:value="${aula.id}" th:selected="${'Aula 2B' == aula.nombre}"></option>
																								        </select>
																								    </td>
																								    <td>
																								        <select class="form-select" aria-label="select asignaturas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'aula2b', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="asignatura : ${asignaturas}" th:text="${asignatura.nombre}" th:value="${asignatura.id}" th:selected="${espacio.aula2b == asignatura.nombre}"></option>
																								        </select>
																								    </td>
																								</tr>
																								<tr th:if="${espacio.aula3a != null}">
																								    <td>
																								        <select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'aula3a', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="aula : ${aulas}" th:text="${aula.nombre}" th:value="${aula.id}" th:selected="${'Aula 3A' == aula.nombre}"></option>
																								        </select>
																								    </td>
																								    <td>
																								        <select class="form-select" aria-label="select asignaturas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'aula3a', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="asignatura : ${asignaturas}" th:text="${asignatura.nombre}" th:value="${asignatura.id}" th:selected="${espacio.aula3a == asignatura.nombre}"></option>
																								        </select>
																								    </td>
																								</tr>
																								<tr th:if="${espacio.aula3b != null}">
																								    <td>
																								        <select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'aula3b', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="aula : ${aulas}" th:text="${aula.nombre}" th:value="${aula.id}" th:selected="${'Aula 3B' == aula.nombre}"></option>
																								        </select>
																								    </td>
																								    <td>
																								        <select class="form-select" aria-label="select asignaturas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'aula3b', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="asignatura : ${asignaturas}" th:text="${asignatura.nombre}" th:value="${asignatura.id}" th:selected="${espacio.aula3b == asignatura.nombre}"></option>
																								        </select>
																								    </td>
																								</tr>
																								<tr th:if="${espacio.aula4a != null}">
																								    <td>
																								        <select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'aula4a', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="aula : ${aulas}" th:text="${aula.nombre}" th:value="${aula.id}" th:selected="${'Aula 4A' == aula.nombre}"></option>
																								        </select>
																								    </td>
																								    <td>
																								        <select class="form-select" aria-label="select asignaturas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'aula4a', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="asignatura : ${asignaturas}" th:text="${asignatura.nombre}" th:value="${asignatura.id}" th:selected="${espacio.aula4a == asignatura.nombre}"></option>
																								        </select>
																								    </td>
																								</tr>
																								<tr th:if="${espacio.aula4b != null}">
																								    <td>
																								        <select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'aula4b', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="aula : ${aulas}" th:text="${aula.nombre}" th:value="${aula.id}" th:selected="${'Aula 4B' == aula.nombre}"></option>
																								        </select>
																								    </td>
																								    <td>
																								        <select class="form-select" aria-label="select asignaturas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'aula4b', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="asignatura : ${asignaturas}" th:text="${asignatura.nombre}" th:value="${asignatura.id}" th:selected="${espacio.aula4b == asignatura.nombre}"></option>
																								        </select>
																								    </td>
																								</tr>
																								<tr th:if="${espacio.aula1cc != null}">
																								    <td>
																								        <select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'aula1cc', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="aula : ${aulas}" th:text="${aula.nombre}" th:value="${aula.id}" th:selected="${'Aula 1CC' == aula.nombre}"></option>
																								        </select>
																								    </td>
																								    <td>
																								        <select class="form-select" aria-label="select asignaturas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'aula1cc', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="asignatura : ${asignaturas}" th:text="${asignatura.nombre}" th:value="${asignatura.id}" th:selected="${espacio.aula1cc == asignatura.nombre}"></option>
																								        </select>
																								    </td>
																								</tr>
																								<tr th:if="${espacio.aula1ss != null}">
																								    <td>
																								        <select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'aula1ss', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="aula : ${aulas}" th:text="${aula.nombre}" th:value="${aula.id}" th:selected="${'Aula 1SS' == aula.nombre}"></option>
																								        </select>
																								    </td>
																								    <td>
																								        <select class="form-select" aria-label="select asignaturas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'aula1ss', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="asignatura : ${asignaturas}" th:text="${asignatura.nombre}" th:value="${asignatura.id}" th:selected="${espacio.aula1ss == asignatura.nombre}"></option>
																								        </select>
																								    </td>
																								</tr>
																								<tr th:if="${espacio.labcc != null}">
																								    <td>
																								        <select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'labcc', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="aula : ${aulas}" th:text="${aula.nombre}" th:value="${aula.id}" th:selected="${'LabCC' == aula.nombre}"></option>
																								        </select>
																								    </td>
																								    <td>
																								        <select class="form-select" aria-label="select asignaturas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'labcc', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="asignatura : ${asignaturas}" th:text="${asignatura.nombre}" th:value="${asignatura.id}" th:selected="${espacio.labcc == asignatura.nombre}"></option>
																								        </select>
																								    </td>
																								</tr>
																								<tr th:if="${espacio.labid != null}">
																								    <td>
																								        <select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'labid', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="aula : ${aulas}" th:text="${aula.nombre}" th:value="${aula.id}" th:selected="${'LabID' == aula.nombre}"></option>
																								        </select>
																								    </td>
																								    <td>
																								        <select class="form-select" aria-label="select asignaturas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'labid', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="asignatura : ${asignaturas}" th:text="${asignatura.nombre}" th:value="${asignatura.id}" th:selected="${espacio.labid == asignatura.nombre}"></option>
																								        </select>
																								    </td>
																								</tr>
																								<tr th:if="${espacio.desdoblea != null}">
																								    <td>
																								        <select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'desdoblea', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="aula : ${aulas}" th:text="${aula.nombre}" th:value="${aula.id}" th:selected="${'Desdoble A' == aula.nombre}"></option>
																								        </select>
																								    </td>
																								    <td>
																								        <select class="form-select" aria-label="select asignaturas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'desdoblea', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="asignatura : ${asignaturas}" th:text="${asignatura.nombre}" th:value="${asignatura.id}" th:selected="${espacio.desdoblea == asignatura.nombre}"></option>
																								        </select>
																								    </td>
																								</tr>
																								<tr th:if="${espacio.desdobleb != null}">
																								    <td>
																								        <select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'desdobleb', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="aula : ${aulas}" th:text="${aula.nombre}" th:value="${aula.id}" th:selected="${'Desdoble B' == aula.nombre}"></option>
																								        </select>
																								    </td>
																								    <td>
																								        <select class="form-select" aria-label="select asignaturas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'desdobleb', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="asignatura : ${asignaturas}" th:text="${asignatura.nombre}" th:value="${asignatura.id}" th:selected="${espacio.desdobleb == asignatura.nombre}"></option>
																								        </select>
																								    </td>
																								</tr>
																								<tr th:if="${espacio.desdoblec != null}">
																								    <td>
																								        <select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'desdoblec', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="aula : ${aulas}" th:text="${aula.nombre}" th:value="${aula.id}" th:selected="${'Desdoble C' == aula.nombre}"></option>
																								        </select>
																								    </td>
																								    <td>
																								        <select class="form-select" aria-label="select asignaturas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'desdoblec', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="asignatura : ${asignaturas}" th:text="${asignatura.nombre}" th:value="${asignatura.id}" th:selected="${espacio.desdoblec == asignatura.nombre}"></option>
																								        </select>
																								    </td>
																								</tr>
																								<tr th:if="${espacio.aenlace != null}">
																								    <td>
																								        <select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'aenlace', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="aula : ${aulas}" th:text="${aula.nombre}" th:value="${aula.id}" th:selected="${'Aula Enlace' == aula.nombre}"></option>
																								        </select>
																								    </td>
																								    <td>
																								        <select class="form-select" aria-label="select asignaturas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'aenlace', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="asignatura : ${asignaturas}" th:text="${asignatura.nombre}" th:value="${asignatura.id}" th:selected="${espacio.aenlace == asignatura.nombre}"></option>
																								        </select>
																								    </td>
																								</tr>
																								<tr th:if="${espacio.bajopatio != null}">
																								    <td>
																								        <select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'bajopatio', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="aula : ${aulas}" th:text="${aula.nombre}" th:value="${aula.id}" th:selected="${'Bajo Patio' == aula.nombre}"></option>
																								        </select>
																								    </td>
																								    <td>
																								        <select class="form-select" aria-label="select asignaturas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'bajopatio', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="asignatura : ${asignaturas}" th:text="${asignatura.nombre}" th:value="${asignatura.id}" th:selected="${espacio.bajopatio == asignatura.nombre}"></option>
																								        </select>
																								    </td>
																								</tr>
																								<tr th:if="${espacio.bajoespejos != null}">
																								    <td>
																								        <select class="form-select" aria-label="select aulas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'bajoespejos', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="aula : ${aulas}" th:text="${aula.nombre}" th:value="${aula.id}" th:selected="${'Bajo Espejos' == aula.nombre}"></option>
																								        </select>
																								    </td>
																								    <td>
																								        <select class="form-select" aria-label="select asignaturas" th:data-id="${espacio.id}" onchange="accionEspacio('M', 'bajoespejos', this.value, this.dataset.id)">
																								            <option value="0"></option>
																								            <option th:each="asignatura : ${asignaturas}" th:text="${asignatura.nombre}" th:value="${asignatura.id}" th:selected="${espacio.bajoespejos == asignatura.nombre}"></option>
																								        </select>
																								    </td>
																								</tr>


			                               </tbody>
			                           </table>
			                       </div>
   
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<form id="espaciosForm" action="/espacios/accion">
    <input type="hidden" id="accion_espacio" name="accion">
    <input type="hidden" id="aula_espacio" name="aula">
    <input type="hidden" id="asignatura_espacio" name="asignatura">
    <input type="hidden" id="id_espacio" name="id">
</form>
