<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/head.html}"></div>
</head>
<div th:replace="~{fragments/links.html}"></div>
<script>
    $(document).ready(function () {
        let id = "[[${id}]]";
        console.log(id)
        if (id !== "0") {
            console.log(id + "2")
            zoomCards(id);
        }
    });


    function zoomCards(id) {
        let url = "/espacios/" + id;
        $.ajax({
            url: url,
            type: "GET",
            success: function (data) {
                $('#zoomCardModal').html(data);
                $('#cardEspacios-modal').modal("show");
            },
            error: function (xhr, status, error) {
                console.error("Error al obtener espacios: ", error);
            }
        });
    }
</script>
<body>
<div class="container mt-3">
    <div class="card shadow-sm">
        <div class="card-header theme-espacios text-white"><h5 class="card-title mb-0">Espacios</h5></div>
        <div class="card-body filter-section">
            <form id="filtrosForm" method="get" th:action="@{'/espacios'}">
                <div class="accordion" id="acordeonFiltros">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                Filtrar espacios
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <div th:replace="~{fragments/filtros/filterDia.html}"></div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div th:replace="~{fragments/filtros/filterHoras.html}"></div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div th:replace="~{fragments/filtros/filterAulas.html}"></div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div th:replace="~{fragments/filtros/filterAsignaturas.html}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body bg-light">
            <div class="row">
                <div th:each="espacio : ${espacios}" class="col-md-6 col-lg-3 mb-3">
                    <div class="card" th:data-id="${espacio.id}" ondblclick="zoomCards(this.dataset.id)">
                        <div class="card-header theme-espacios text-white">
                            <div class="row">
                                <div class="col-9">
                                    <h5 class="card-title mb-0">
                                        <span th:text="${espacio.dia}"></span>
                                        <span th:text="${espacio.hora}"></span>
                                    </h5>
                                </div>
                                <div class="col-3 text-end cursor-pointer" th:data-id="${espacio.id}"
                                     onclick="zoomCards(this.dataset.id)">
                                    <img class="w-50" src="/images/editar.png" alt="editar card">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div th:unless="${espacio.aula != null}"
                                 class="alert alert-warning" role="alert">
                                No hay espacios asignados
                            </div>

                            <table th:if="${espacio.aula}"
                                   class="table table-sm">
                                <thead>
                                <tr>
                                    <th>Aula</th>
                                    <th>Asignatura</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${espacio.aula != null}">
                                    <th th:class="${aula != null && aula.nombre == espacio.aula ? 'text-success' : ''}"  th:text="${espacio.aula}">
                                    </th>
                                    <td th:text="${espacio.asignatura}"
                                        th:class="${asignatura != null && asignatura.nombre == espacio.asignatura ? 'text-success' : ''}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div th:unless="${#lists.size(espacios) > 0}" class="alert alert-danger" role="alert"> No existen espacios para los filtros ingresados
            </div>
        </div>
        <div class="card-footer text-muted bg-white d-flex justify-content-end">
            <button type="button" class="btn btn-dark" onclick="location.href='/menu'">Volver</button>
        </div>
    </div>
</div>
<div id="zoomCardModal">
</div>
</body>
</html>