<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{/fragments/head.html}"></div>
</head>
<body>
<div class="container mt-3">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white"><h5 class="card-title mb-0">Guardias</h5></div>
        <div class="card-body filter-section">
            <form id="filtrosForm" method="get" th:action="@{'/guardias'}">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <div th:replace="~{/fragments/filtros/filterDia.html}"></div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div th:replace="~{/fragments/filtros/filterHoras.html}"></div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div th:replace="~{/fragments/filtros/filterTurno.html}"></div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div th:replace="~{/fragments/filtros/filterProfesores.html}"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body bg-light">
            <div th:if="${#lists.size(page) > 0}" class="row">
                <div th:each="guardia : ${page}" class="col-md-6 col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h5 class="card-title mb-0">
                                <strong><span th:text="'#' + ${guardia.id}"></span></strong>
                                <span th:text="${guardia.dia}"></span>
                                <span th:text="${guardia.hora}"></span>
                            </h5>
                        </div>
                        <div class="card-body">

                            <div th:if="${guardia.recreo3 == null && guardia.recreo2 == null && guardia.recreo1 == null &&
                                      guardia.libranza3 == null && guardia.libranza2 == null && guardia.libranza1 == null &&
                                      guardia.guardia3 == null && guardia.guardia2 == null && guardia.guardia1 == null}" class="alert alert-warning" role="alert">
                                No hay turnos asignados
                            </div>

                            <table th:unless="${guardia.recreo3 == null && guardia.recreo2 == null && guardia.recreo1 == null &&
                                      guardia.libranza3 == null && guardia.libranza2 == null && guardia.libranza1 == null &&
                                      guardia.guardia3 == null && guardia.guardia2 == null && guardia.guardia1 == null}" class="table table-sm">
                                <thead>
                                <tr>
                                    <th>Turno</th>
                                    <th>Asignatura</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${guardia.guardia1 != null}">
                                    <th>Guardia 1</th>
                                    <td th:text="${guardia.guardia1}"></td>
                                </tr>
                                <tr th:if="${guardia.guardia2 != null}">
                                    <th>Guardia 2</th>
                                    <td th:text="${guardia.guardia2}"></td>
                                </tr>
                                <tr th:if="${guardia.guardia3 != null}">
                                    <th>Guardia 3</th>
                                    <td th:text="${guardia.guardia3}"></td>
                                </tr>
                                <tr th:if="${guardia.libranza1 != null}">
                                    <th>Libranza 1</th>
                                    <td th:text="${guardia.libranza1}"></td>
                                </tr>
                                <tr th:if="${guardia.libranza1 != null}">
                                    <th>Libranza 2</th>
                                    <td th:text="${guardia.libranza1}"></td>
                                </tr>
                                <tr th:if="${guardia.libranza1 != null}">
                                    <th>Libranza 3</th>
                                    <td th:text="${guardia.libranza1}"></td>
                                </tr>
                                <tr th:if="${guardia.recreo1 != null}">
                                    <th>Recreo 1</th>
                                    <td th:text="${guardia.recreo1}"></td>
                                </tr>
                                <tr th:if="${guardia.recreo2 != null}">
                                    <th>Recreo 2</th>
                                    <td th:text="${guardia.recreo2}"></td>
                                </tr>
                                <tr th:if="${guardia.recreo3 != null}">
                                    <th>Recreo 3</th>
                                    <td th:text="${guardia.recreo3}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="~{/fragments/noResultAlert.html}"></div>
        </div>
        <div class="card-footer text-muted bg-white d-flex justify-content-end">
            <button type="button" class="btn btn-dark" onclick="location.href='/menu'">Volver</button>
        </div>
    </div>
</div>
</body>
<div th:replace="~{/fragments/links.html}"></div>
</html>