<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/head.html}"></div>
</head>
<script>
    function zoomCards(id){
        let url = "/guardias/" + id;
        $.ajax({
            url: url,
            type: "GET",
            success: function (data) {
                $('#zoomCardModal').html(data);
                $('#cardGuardias-modal').modal("show");
            },
            error: function (xhr, status, error) {
                console.error("Error al obtener guardias: ", error);
            }
        });
    }
</script>
<body>
<div class="container mt-3">
    <div class="card shadow-sm">
        <div class="card-header theme-guardias text-white"><h5 class="card-title mb-0">Guardias</h5></div>
        <div class="card-body filter-section">
            <form id="filtrosForm" method="get" th:action="@{'/guardias'}">
                <div class="accordion" id="acordeonFiltros">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                Filtrar guardias
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <div th:replace="~{fragments/filtros/filterDia.html}"></div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div th:replace="~{fragments/filtros/filterHoras.html}"></div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div th:replace="~{fragments/filtros/filterTurno.html}"></div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div th:replace="~{fragments/filtros/filterProfesores.html}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body bg-light">
            <div th:if="${#lists.size(page) > 0}" class="row">
                <div th:each="guardia : ${page}" class="col-md-6 col-lg-3 mb-3">
                    <div class="card" th:data-id="${guardia.id}" ondblclick="zoomCards(this.dataset.id)">
                        <div class="card-header theme-guardias text-white">
                            <div class="row">
                                <div class="col-9">
                                    <h5 class="card-title mb-0">
                                        <span th:text="${guardia.dia}"></span>
                                        <span th:text="${guardia.hora}"></span>
                                    </h5>
                                </div>
                                <div class="col-3 text-end" th:data-id="${guardia.id}" onclick="zoomCards(this.dataset.id)">
                                    <img class="w-50" src="/images/editar.png" alt="editar card">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div th:if="${guardia.recreo3 == null && guardia.recreo2 == null && guardia.recreo1 == null &&
                                      guardia.libranza3 == null && guardia.libranza2 == null && guardia.libranza1 == null &&
                                      guardia.guardia3 == null && guardia.guardia2 == null && guardia.guardia1 == null}"
                                 class="alert alert-warning" role="alert">
                                No hay turnos asignados
                            </div>

                            <table th:unless="${guardia.recreo3 == null && guardia.recreo2 == null && guardia.recreo1 == null &&
                                      guardia.libranza3 == null && guardia.libranza2 == null && guardia.libranza1 == null &&
                                      guardia.guardia3 == null && guardia.guardia2 == null && guardia.guardia1 == null}"
                                   class="table table-sm">
                                <thead>
                                <tr>
                                    <th>Turno</th>
                                    <th>Asignatura</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${guardia.guardia1 != null}">
                                    <th th:class="${turnoFiltro != null && turnoFiltro == 'G1' ? 'text-success' : ''}">
                                        Guardia 1
                                    </th>
                                    <td th:text="${guardia.guardia1}"
                                        th:class="${profesor != null && profesor.nombre == guardia.guardia1 ? 'text-success' : ''}"></td>
                                </tr>
                                <tr th:if="${guardia.guardia2 != null}">
                                    <th th:class="${turnoFiltro != null && turnoFiltro == 'G2' ? 'text-success' : ''}">
                                        Guardia 2
                                    </th>
                                    <td th:text="${guardia.guardia2}"
                                        th:class="${profesor != null && profesor.nombre == guardia.guardia2 ? 'text-success' : ''}"></td>
                                </tr>
                                <tr th:if="${guardia.guardia3 != null}">
                                    <th th:class="${turnoFiltro != null && turnoFiltro == 'G3' ? 'text-success' : ''}">
                                        Guardia 3
                                    </th>
                                    <td th:text="${guardia.guardia3}"
                                        th:class="${profesor != null && profesor.nombre == guardia.guardia3 ? 'text-success' : ''}"></td>
                                </tr>
                                <tr th:if="${guardia.libranza1 != null}">
                                    <th th:class="${turnoFiltro != null && turnoFiltro == 'L1' ? 'text-success' : ''}">
                                        Libranza 1
                                    </th>
                                    <td th:text="${guardia.libranza1}"
                                        th:class="${profesor != null && profesor.nombre == guardia.libranza1 ? 'text-success' : ''}"></td>
                                </tr>
                                <tr th:if="${guardia.libranza2 != null}">
                                    <th th:class="${turnoFiltro != null && turnoFiltro == 'L2' ? 'text-success' : ''}">
                                        Libranza 2
                                    </th>
                                    <td th:text="${guardia.libranza2}"
                                        th:class="${profesor != null && profesor.nombre == guardia.libranza2 ? 'text-success' : ''}"></td>
                                </tr>
                                <tr th:if="${guardia.libranza3 != null}">
                                    <th th:class="${turnoFiltro != null && turnoFiltro == 'L3' ? 'text-success' : ''}">
                                        Libranza 3
                                    </th>
                                    <td th:text="${guardia.libranza3}"
                                        th:class="${profesor != null && profesor.nombre == guardia.libranza3 ? 'text-success' : ''}"></td>
                                </tr>
                                <tr th:if="${guardia.recreo1 != null}">
                                    <th th:class="${turnoFiltro != null && turnoFiltro == 'R1' ? 'text-success' : ''}">
                                        Recreo 1
                                    </th>
                                    <td th:text="${guardia.recreo1}"
                                        th:class="${profesor != null && profesor.nombre == guardia.recreo1 ? 'text-success' : ''}"></td>
                                </tr>
                                <tr th:if="${guardia.recreo2 != null}">
                                    <th th:class="${turnoFiltro != null && turnoFiltro == 'R2' ? 'text-success' : ''}">
                                        Recreo 2
                                    </th>
                                    <td th:text="${guardia.recreo2}"
                                        th:class="${profesor != null && profesor.nombre == guardia.recreo2 ? 'text-success' : ''}"></td>
                                </tr>
                                <tr th:if="${guardia.recreo3 != null}">
                                    <th th:class="${turnoFiltro != null && turnoFiltro == 'R3' ? 'text-success' : ''}">
                                        Recreo 3
                                    </th>
                                    <td th:text="${guardia.recreo3}"
                                        th:class="${profesor != null && profesor.nombre == guardia.recreo3 ? 'text-success' : ''}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="~{fragments/noResultAlert.html}"></div>
        </div>
        <div class="card-footer text-muted bg-white d-flex justify-content-end">
            <button type="button" class="btn btn-dark" onclick="location.href='/menu'">Volver</button>
        </div>
    </div>
</div>

<div id="zoomCardModal">
</div>
</body>
<div th:replace="~{fragments/links.html}"></div>
</html>