<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/head.html}"></div>
</head>
<div th:replace="~{fragments/links.html}"></div>
<script>
    function accionProfesores(accion, id) {
        $('#id_profesor').val(id);
        $('#accion_profesor').val(accion);
        let url = "/profesores/" + id;
        $.ajax({
            url: url,
            type: "GET",
            success: function (data) {
                switch (accion) {
                    case "M" :
                        $('#nombreAModificar').text(data.nombre);
                        $('#modificarProfesor').val(data.nombre);
                        $('#modificarProfesor-modal').modal('show');
                        break;
                    case "E" :
                        $('#nombreAEliminar').text("¿Está seguro de eliminar a " + data.nombre + "?");
                        $('#eliminarProfesor-modal').modal('show');
                        break;
                }
            },
            error: function (xhr, status, error) {
                console.error("Error al obtener profesores: ", error);
            }
        });
    }
</script>
<body>
<div th:replace="~{fragments/preloader.html}"></div>
<div th:replace="~{fragments/video_background.html}"></div>

<div class="container min-vh-100 py-4">

    <div class="row mt-3 mb-3">
        <div class="col-12">
            <div class="card border-0 shadow-sm w-100">
                <div class="card-body filter-section">
                    <div class="row align-items-center gy-3">
                        <div class="col-9">
                            <div th:replace="~{fragments/sideBar.html}"></div>
                        </div>
                        <div class="col-3 d-flex justify-content-end ml-3">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle"
                                           role="button"
                                           id="dropdownAcciones"
                                           data-bs-toggle="dropdown"
                                           aria-expanded="false"
                                        >
                                            Acciones
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownAcciones">

                                            <a class="dropdown-item"
                                               href="/profesores/suplencias"
                                               data-bs-toggle="tooltip"
                                               data-bs-placement="top"
                                               title="Gestionar sustituciones">
                                                <img src="/images/suplencias.png" alt="Generar suplencias"
                                                     style="max-width: 30px">
                                                Sustituciones
                                            </a>

                                            <button
                                                    type="button"
                                                    class="dropdown-item"
                                                    onclick="$('#nuevoProfesor-modal').modal('show')"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-placement="top"
                                                    title="Añadir docente"
                                            >
                                                <i class="bi bi-plus"></i>
                                                Añadir profesor
                                            </button>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-auto">
                                    <form id="filtrosForm" method="get" th:action="@{'/profesores'}">
                                        <div class="form-group row justify-content-end mb-0">
                                            <div th:replace="~{fragments/filtros/filterPage.html}"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-3">
        <div th:each="profesor : ${page}" th:id="'card_' + ${profesor.id}" class="col-12 col-md-6 col-sm-3">
            <div class="card border-0 shadow-sm">
                <div class="card-body">

                    <h5 class="card-title mb-1" th:text="${profesor.nombre}"></h5>

                    <p class="text-muted small mb-3">
                        Cursos que puede dar · Horarios
                    </p>

                    <div class="d-flex gap-2 flex-wrap">
                        <!--<a href="profesor-cursos.html" class="btn btn-sm btn-outline-primary">
                            Cursos
                        </a>

                        <a href="profesor-horarios.html" class="btn btn-sm btn-outline-success">
                            Horarios
                        </a>-->

                        <a class="btn btn-sm btn-outline-success" th:data-id="${profesor.id}"
                           onclick="accionProfesores('M', this.dataset.id)">
                            Editar
                        </a>
                        <a class="btn btn-sm btn-outline-danger" th:data-id="${profesor.id}"
                           onclick="accionProfesores('E', this.dataset.id)">
                            Eliminar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <div th:replace="~{fragments/pagination.html}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form action="/profesores" method="post" id="accionesProfesorForm" th:object="${profesorForm}">
    <input type="hidden" id="accion_profesor" name="accion">
    <input type="hidden" id="id_profesor" th:field="*{id}">
    <input type="hidden" id="nombre_profesor" th:field="*{nombre}">
    <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}">-->
</form>
<!-- Modal -->
<div class="modal fade show" id="nuevoProfesor-modal" tabindex="-1" role="dialog" aria-labelledby="nuevoProfesor-modal"
     aria-hidden="true" style="display: none">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="/profesores" method="post" id="profesorForm" th:object="${profesorForm}">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Añadir profesor</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-label" for="nombreProfesor">Nombre:</label>
                        <input type="text" class="form-control" id="nombreProfesor" th:field="*{nombre}"
                               placeholder="Escribe el nombre del docente">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Añadir</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modificarProfesor-modal" tabindex="-1" role="dialog"
     aria-labelledby="modificarProfesor-modal"
     aria-hidden="true" style="display: none">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificar profesor</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label" for="modificarProfesor" id="nombreAModificar">Nombre:</label>
                    <input type="text" class="form-control" id="modificarProfesor"
                           onchange="$('#nombre_profesor').val(this.value)"
                           placeholder="Escribe el nombre del docente">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button onclick="$('#accionesProfesorForm').submit()" class="btn btn-primary">Modificar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eliminarProfesor-modal" tabindex="-1" role="dialog"
     aria-labelledby="eliminarProfesor-modal"
     aria-hidden="true" style="display: none">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar profesor</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h4 id="nombreAEliminar">Nombre:</h4>
                    <p>Esta acción no puede echarse atrás. Eliminará todo la información relacionada con el docente</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button onclick="$('#accionesProfesorForm').submit()" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>