<!DOCTYPE html>
<html lang="es">
<head>
    <div th:replace="~{fragments/head.html}"></div>
</head>
<div th:replace="~{fragments/links.html}"></div>
<script>
    function generarPdfSuplencias() {
        let trs = document.querySelectorAll("#tbody_horarios tr");
        let horario = new Map();
        trs.forEach((tr) => {
            let ths = tr.querySelectorAll("th");
            let tds = tr.querySelectorAll("td");
            const id = ths[0].textContent + "_" + tr.id.split("_")[1];
            const idSustituto = tds[2].querySelector("select").value;
            const observaciones = tds[4].querySelector("textarea").value;
            horario.set(id, {
                idSustituto: idSustituto,
                observaciones: observaciones
            });
        });

        let h = Object.fromEntries(horario);
        let url = "/profesores/suplencias/pdf?fecha=" + document.getElementById("fechaSuplencia").value + "&profesor=" + document.getElementById("profesorFilter").value;
        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(h)
        })
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement("a");
                a.href = url;
                a.download = "suplencias.pdf";
                document.body.appendChild(a);
                a.click();
                a.remove();
            })
            .catch(error => console.error("Error:", error));
    }

    function capturar() {
        const zona = document.getElementById("suplencias");

        html2canvas(zona).then(canvas => {
            const imagen = canvas.toDataURL("image/png");

            const enlace = document.createElement("a");
            enlace.href = imagen;
            enlace.download = "captura.png";
            enlace.click();
        });
    }
</script>
<body>
<div th:replace="~{fragments/preloader.html}"></div>
<div th:replace="~{fragments/video_background.html}"></div>

<div class="container min-vh-100 py-4">

    <div class="row mt-3 mb-3">
        <div class="col-12">
            <div class="card border-0 shadow-sm w-100">
                <div class="card-body filter-section">
                    <div class="row align-items-center gy-3">
                        <div class="col-9">
                            <div th:replace="~{fragments/sideBar.html}"></div>
                        </div>
                    </div>
                </div>
                <div class="card-body filter-section">
                    <form action="/profesores/suplencias" method="get" id="filtrosForm">
                        <div class="row align-items-center">

                            <div class="col-md-6 mb-3">
                                <label for="fechaSuplencia" class="form-label">Fecha de la suplencia:</label>
                                <input type="date" id="fechaSuplencia" name="fecha" class="form-control"
                                       onchange="$('#filtrosForm').submit()" th:value="${fechaFiltro}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <div th:replace="~{fragments/filtros/filterProfesores.html}"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-end">
        <div>
            <button type="button" class="btn btn-danger" onclick="capturar()">
                <i class="bi bi-camera"></i>
                Capturar suplencias
            </button>
        </div>
    </div>
    <br>
    <div id="suplencias">
        <b th:text="${dia}" class="text-white"></b>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">Hora</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Asignatura</th>
                    <th scope="col">Sustituto</th>
                    <th scope="col">Espacio</th>
                    <th scope="col">Observaciones</th>
                </tr>
                </thead>
                <tbody id="tbody_horarios">
                <tr th:each="horario : ${horarios}" th:id="'h_' + ${horario.id}"
                    th:if="${horario.tipo == 'Clase'}"
                    class="align-middle">
                    <th class="w-auto" scope="row" th:text="${horario.hora}"></th>
                    <td class="w-auto" th:text="${horario.curso}"></td>
                    <td th:text="${horario.asignatura}"></td>
                    <td>
                        <select class="form-select w-auto" name="profesor">
                            <option value="0"></option>
                            <option th:each="profesor : ${profesores}"
                                    th:value="${profesor.id}"
                                    th:text="${profesor.nombre}"
                                    th:selected="${turnoMap[horario.hora + '_' + profesor.nombre] eq 'text-danger'}"
                                    th:classappend="${turnoMap[horario.hora + '_' + profesor.nombre]}">
                            </option>
                        </select>
                    </td>
                    <td th:text="${horario.espacio}"></td>
                    <td>
                        <textarea class="form-control" rows="1"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${horarios != null && #lists.size(horarios) == 0}" class="alert alert-danger" role="alert">
            No existen resultados para los filtros ingresados
        </div>
    </div>

</div>
</body>
</html>