<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/head.html}"></div>
</head>
<div th:replace="~{fragments/links.html}"></div>
<script th:inline="javascript">
    function changeTutor(select, curso){
        let id = select.dataset.id;
        let profesor = select.value;
        let url =  "/" + [[${idCentro}]] + "/profesores/tutores/modificar/" + id + "?curso=" + curso + "&profesor=" + profesor;
        $.ajax({
            url: url,
            type: "GET",
            success: function (data) {
                showMsg("S", 'Tutor modificado con exito');
            },
            error: function (xhr, status, error) {
                console.error("Error al modificar tutor: ", error);
                showMsg('E', 'El tutor no ha podido ser modificado');
            }
        });
    }
</script>
<body>
	<div th:replace="~{fragments/preloader.html}"></div>
<div class="container mt-3">
    <div class="card shadow-sm">
        <div class="card-header theme-tutores text-white">
            <h5 class="card-title mb-0 text-black">Tutores</h5>
        </div>
        <div class="card-body filter-section">
            <div class="row align-items-center">
                <div class="col-12">
                    <form id="filtrosForm" method="get"
                          th:action="@{'/' + ${idCentro} + '/profesores/tutores'}">
                        <div class="accordion" id="acordeonFiltros">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseOne">
                                        Filtrar tutores
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <div class="form-group row justify-content-end mb-0">
                                            <div class="col-md-4 mb-3">
                                                <div th:replace="~{fragments/filtros/filterCursos.html}"></div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <div th:replace="~{fragments/filtros/filterProfesores.html}"></div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <div th:replace="~{fragments/filtros/filterPage.html}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body bg-light">
            <table th:if="${#lists.size(page) > 0}" class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Curso</th>
                    <th scope="col">Docente</th>
                    <th scope="col">Año</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tutor : ${page}" th:id="'tr_' + ${tutor.id}">
                    <td th:text="${tutor.curso}"></td>
                    <td>
                        <select class="form-select" aria-label="select tutores" th:data-id="${tutor.id}" onchange="changeTutor(this, '2425')">
                            <option value="0"></option>
                            <option th:each=" profe : ${profesores}" th:text="${profe.nombre}"
                                    th:value="${profe.id}" th:selected="${tutor.nombre == profe.nombre}"></option>
                        </select>
                    </td>
                    <td th:text="${tutor.anio}"></td>
                </tr>
                </tbody>
            </table>
            <div th:replace="~{fragments/pagination.html}"></div>
            <div th:replace="~{fragments/noResultAlert.html}"></div>
        </div>
        <div class="card-footer text-muted bg-white d-flex justify-content-end">
            <button type="button" class="btn btn-dark" onclick="location.href='/menu'">Volver</button>
        </div>
    </div>
</div>
</body>
</html>