<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{/fragments/head.html}"></div>
</head>
<body>
<div class="container mt-3">
<div class="card shadow-sm">
    <div class="card-header theme-tutores text-white">
        <h5 class="card-title mb-0 text-black">Tutores</h5>
    </div>
    <div class="card-body filter-section">
        <form id="filtrosForm" method="get"
              th:action="@{'/profesores/tutores'}">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div th:replace="~{/fragments/filtros/filterCursos.html}"></div>
            </div>
            <div class="col-md-4 mb-3">
                <div th:replace="~{/fragments/filtros/filterProfesores.html}"></div>
            </div>

            <div th:replace="~{/fragments/filtros/filterPage.html}"></div>
        </div>
        </form>
    </div>
    <div class="card-body bg-light">
        <table th:if="${#lists.size(page) > 0}" class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Curso</th>
                <th scope="col">Tutor 24-25</th>
                <th scope="col">Tutor 23-24</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tutor : ${page}" th:id="'tr_' + ${tutor.id}">
                <th scope="row" th:text="${tutor.id}"></th>
                <td th:text="${tutor.curso}"></td>
                <td th:text="${tutor.tutor2425}"></td>
                <td th:text="${tutor.tutor2425}"></td>
            </tr>
            </tbody>
        </table>
        <div th:replace="~{/fragments/pagination.html}"></div>
        <div th:replace="~{/fragments/noResultAlert.html}"></div>
    </div>
    <div class="card-footer text-muted bg-white d-flex justify-content-end">
        <button type="button" class="btn btn-dark" onclick="location.href='/menu'">Volver</button>
    </div>
</div>
</div>
</body>
<div th:replace="~{/fragments/links.html}"></div>
</html>